*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    min-height: 100vh;
    background-image: url('../img/Fondo4IC.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 2px solid rgba(255, 255, 255, 0.2);
    width: 90%;
    max-width: 450px;
    padding: 30px 40px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.container h1{
    text-align: center;
    margin-bottom: 35px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input-box{
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
    height: 60px;
}
.input-box input{
    background: transparent;
    border: 0;
    outline: 0;
    flex: 1;
    font-size: 16px;
    color: rgb(0, 0, 0);
    min-width: 0;
}
.input-box input::placeholder{
    color:rgba(0, 0, 0, 0.6);
}
.input-box:hover{
    border-color: #000000;
}
.btn{
    background-color: #000000;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color: #333333;
}
.text-login{
    text-align: center;
    margin-top: 20px;
}
.text-login a{
    color: #000000;
    font-weight: 500;
}
.text-login a:hover{
    color: #a4a4a4;
}
